/* Your Website Styles */

body {
	font-family: 'Lato', sans-serif; 
	background: url('../img/swirl_pattern.png');
}

h1, h3 {
	color: #596978;
	text-transform: uppercase;
	background-color: rgba(243,213,175, 0.75); 
	font-weight: bold;

}

p {
	background-color: rgba(153,170,186, 0.75);
	margin: 10px 20px;
	text-indent: 1em;
	text-align: justify;
}

#history p {
	height: 171px;
}

#info p {
	height: 539px;
	font-size: 1.25em;
	word-spacing: .25em;
	
}

.fashion2 {
	float: center;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}